.checkout-card-component {
    max-width: 520px;
    height: 550px;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    padding: 40px;

    @media (max-width: 375px) {
        height: 100%;
        padding: 40px 24px;
        border-radius: 0;
    }

    & &__header {
        &-line {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 40px;
        }
        &-title {
            font-size: 32px;
            font-weight: 700;
        }
        &-subtitle {
            opacity: .5;
        }
    }

    & &__product {
        &-line {
            display: flex;
            justify-content: space-between;
        }
        &-info {
            display: flex;
            align-items: center;
        }
        &-image {
            width: 80px;
            height: 80px;
            background-color: var(--color-black-200);
            border-radius: 16px;
            padding: 20px;
            margin-right: 16px;
        }
        &-title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 8px;
        }
        &-description {
            opacity: .5;
            font-size: 14px;
        }
        &-price {
            margin-top: 18.5px;
            font-size: 18px;
        }
    }

    & &__per-month-annotation {
        font-size: 12px;
        opacity: .5;
        font-weight: 400;
    }

    & &__line {
        border: 1px solid var(--color-black-500);
        margin: 24px 0px;

        @media (max-width: 375px) {
            margin-top: 286px;
        }
    }

    & &__summary {
        &-line {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }
        &-details {
            opacity: .5;
        }
    }

    & &__total {
        &-line {
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;
        }
        &-details {
            font-size: 24px;
            font-weight: 500;
        }
        &-price {
            font-size: 24px;
            font-weight: 700;
        }
    }

    & &__buttons {
        display: flex;
        flex-direction: column;
        gap: 12px;

        button {
            border: none;
            border-radius: 60px;
            height: 56px;
            transition: .2s;
            cursor: pointer;

            &:disabled {
                opacity: .5;
                &:hover {
                    cursor: not-allowed;
                }
            }

            @media (max-width: 375px) {
                height: 54px;
            }

            &.btn-primary {
                background-color: var(--primary-color);
                font-weight: 700;
                &:hover {
                    background-color: var(--primary-color-dark);
                }
                &:active {
                    background-color: var(--color-green-900);
                }
                &[data-loading="1"] {
                    &:hover {
                        cursor: not-allowed;
                        background-color: var(--primary-color);
                    }
                    .btn-primary__text {
                        display: none;
                    }
                    .btn-primary__loader {
                        display: block;
                        height: 65%;
                    }
                }
            }

            .btn-primary__text {
                display: block;
            }

            .btn-primary__loader {
                display: none;
            }

            &.btn-secondary {
                background-color: white;
                border: 1px solid var(--color-black-500);
                color: var(--color-black-500);
                font-weight: bold;
                &:hover {
                    color: var(--color-black-700);
                    border-color: var(--color-black-700);
                    background-color: var(--color-white-100);
                }
                &:active {
                    color: var(--color-black-900);
                    border-color: var(--color-black-900);
                    background-color: var(--color-white-200);
                }
            }
        }
    }
}