/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 
/// 

@use './components/checkout-card-component/checkout-card-component.scss';

#home-page {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}